body {
    font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
 
}

.container-fluid {
    padding-top: 3%;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 40px;
}

/* navbar sectin */
.navbar {
    padding-bottom: 50px;
    font-family: 'Ubuntu';
}

.navbar-brand {
    padding: 5px;
    font-family: 'Ubuntu';
    font-size: 3rem;
}

.nav-item {
    padding: 8px;
}

/* title image */
.timage {
    width: 50%;
    transform: rotate(25deg);
}

/* button */
.button {
    margin: 10px 10px 25px 10px;
}

/* features */
#features{
    background-color: #fff;
  
 
}
.features {
    padding: 7% 10%;
  
}

.features i {
    color: #ef8172;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 30px;
}

.features i:hover {
    color: #ff4c68;
}

.features h3 {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}

.features p {
    display: block;
    text-align: center;
    color: #8f8f8f;
    padding: 5px;
    
}
/* testimonials section  */
#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
.carousel-item{
    padding: 5% 17%;
}
.timg{
    width: 100px;
    border-radius: 100%;
}
.th2{
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
/* press section  */
#press{
    background-color: #ef8172;
    text-align: center;
    
}
.pimg{
    margin: 10px 30px ;
    padding-bottom: 20px;
   
}
/* pricing section  */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing{
    padding: 3% 3%;
}
/* cta sectiion  */
#cta{
    background-color: #ff4c68;
    padding: 40px 4px 4px;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
}
#cta h3{
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 100px;
}
#cta button{
    margin: 25px 15px;
  
}
/* footer section  */
#footer{
    text-align: center;
    margin-top: 50px;
    padding: 40px 4px 4px;
    color: #fff;
}
#footer i{
    margin: 0 5px;
    color: black;
  
}
#footer p{
    color:  #8f8f8f;
    font-family: 'Ubuntu';
    margin-top: 5px;
    padding:2px;
    font-size: 0.75rem;
}
@media (max-width:1000px) {
    .timage{
        transform: rotate(0);
    }
    .container-fluid{
        text-align: center;
    }
    
}